@page
@using ProgramGuard.Dtos.Account
@model ProgramGuard.Web.Pages.AccountsModel
@{
    ViewData["Title"] = "Account";
}

<!--- Razor 預設開啟 AntiForgeryToken 這個會影響 Post, Put, Patch, Delete 等行為 !--->
@Html.AntiForgeryToken()


<div id="gridContainer">
    @(
        Html.DevExtreme().DataGrid<GetUserDto>()
        .DataSource(o => o.RemoteController()
        .LoadUrl("Accounts?Handler=Data")
        .InsertUrl("Accounst")
        .UpdateUrl("Accounts")
        .Key("UserName"))
        .Editing(e =>
                {
                    e.AllowUpdating(true);
                    e.Mode(GridEditMode.Batch);
                    e.UseIcons(true);
                })
        .Columns(columns =>
        {
            columns.AddFor(m => m.UserName).Caption("使用者").AllowEditing(false);
            @* columns.AddFor(m => m.RoleName).Caption(""); *@
            columns.AddFor(m => m.LoginStatus).Caption("登錄狀態").AllowEditing(false);
            columns.AddFor(m => m.LoginTime).Caption("登錄時間").Format("yyyy-MM-dd HH:mm:ss").AllowEditing(false);
            columns.AddFor(m => m.LogoutTime).Caption("登出時間").Format("yyyy-MM-dd HH:mm:ss").AllowEditing(false);
            columns.AddFor(m => m.LockoutEnd).Caption("解鎖時間").Format("yyyy-MM-dd HH:mm:ss").AllowEditing(false);
            columns.AddFor(m => m.IsFrozen).Caption("凍結賬號");
        })
        .ShowBorders(true)
        .ColumnAutoWidth(true)
        .Selection(o => o.Mode(SelectionMode.Single))
        .NoDataText("沒有資料")
        .HoverStateEnabled(true)
        .FocusedRowEnabled(true)
        .Paging(paging => paging.PageSize(15))
        .Pager(pager =>
        {
            pager.Visible(true);
            pager.DisplayMode(GridPagerDisplayMode.Full);
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new JS("[15, 30, 50, 100, 200]"));
            pager.ShowInfo(true);
            pager.ShowNavigationButtons(true);
        })
        )
</div>

<script>
    /* 配合 AntiForgeryToken 使用 */
    $.ajaxSetup({
        data: {
            __RequestVerificationToken: document.getElementsByName("__RequestVerificationToken")[0].value
        }
    });
</script>

