div#cbxRule {
    top: 2%;
    left: 3%;
    width: 94%;
}

div#btnAdd {
    top: 25%;
    left: 3%;
}

div#btnModify {
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

div#btnDelete {
    top: 25%;
    right: 3%;
}

label#lblNotice {
    top: 45%;
    left: 3%;
    right: 3%;
}

div#btnAdd, div#btnModify, div#btnDelete,
div#cbxRule, label#lblNotice {
    position: absolute;
}

.functionPanel {
    position: absolute;
    margin-top: 0rem;
    background-color: whitesmoke;
    border: thick double #999999;
}

/*Full HD*/
@media screen and (min-width: 1281px) {
    .functionPanel {
        margin-left: -17rem;
        height: 250px;
        width: 300px;
    }

    div#btnAdd, div#btnModify, div#btnDelete,
    div#cbxRule, label#lblNotice {
        position: absolute;
        font-size: 1.2rem;
    }

    div#form {
        margin-left: 5rem;
    }
}

/*SXVGA*/
@media screen and (max-width: 1281px) {
    .functionPanel {
        margin-left: -4.5rem;
        height: 230px;
        width: 245px;
    }

    div#btnAdd, div#btnModify, div#btnDelete,
    div#cbxRule, label#lblNotice {
        position: absolute;
        font-size: 1rem;
    }

    div#form {
        margin-left: 15rem;
    }
}
