#privilegeForm {
    display: flex; /* 使用 Flexbox 布局 */
}

.visible, .operate {
    margin: 10px;
}

/* 设置子容器样式，确保内容按列排列 */
#visible-privileges-container,
#operate-privileges-container {
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 垂直方向排列 */
    gap: 20px; /* 子项间距 */
}
